<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="ApplicationName" value="api-project"/>
    <add key="ProjectID" value="api-project-901373404215"/>
    <add key="DataSet" value="meritb2b"/>
    <add key="TableName" value="data"/>
    <add key="KeyFile" value="C:\Users\jbarash\source\repos\Forbes\api-project-901373404215-e19e68f0f225.p12"/>
    <add key="KeyPassword" value="notasecret"/>
    <add key="serviceAccountEmail" value="meritb2b@api-project-901373404215.iam.gserviceaccount.com"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.0.0" newVersion="1.50.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.0.0" newVersion="1.50.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.50.0.0" newVersion="1.50.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>